// mobile 375px, desktop 1440px
$limegreen: #1db489;
$BrightRed: #dc414c;
$Facebook: #1488ee;
$Twitter: #2caeff;
$Instagram: #fdc468;
$YouTube: #c4032a;
//dark
$darktheme: #3eda82;
//light
$lighttheme: #aeb3cb;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    margin: auto;
    background-color: #fff;
    width: 375px;
}

h2 {
    padding-bottom: 5px;
}

h4 {
    color: $lighttheme;
}

.username {
    margin-left: 5px;
    color: $lighttheme;
    font-weight: bold;
}

.number {
    font-size: 3rem;
    font-weight: bold;
}

.follow {
    color: $lighttheme;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.arrow-up {
    color: $limegreen;
    font-weight: bolder;
}

.arrow-down {
    color: $BrightRed;
    font-weight: bolder;
}

.container {
    margin: auto;
    padding-top: 20px;
    width: 90%;
}

.nav {
    .header {
        border-bottom: 1px solid $lighttheme;
        padding-bottom: 20px;
    }

    .switch {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
}

.card-top {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .facebook {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $Facebook;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }
    }

    .twitter {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $Twitter;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }
    }

    .instagram {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $Instagram;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }
    }

    .youtube {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $YouTube;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }
    }
}

.title {
    margin-top: 30px;
    color: $lighttheme;
}

.card-bottom {
    /*     display: flex;
    flex-direction: column;
    justify-content: space-around; */

    .card {
        background-color: rgba(128, 128, 128, 0.1);
        margin: 30px 0;
        padding: 20px;
        border-radius: 5px;

        .top {
            display: flex;
            justify-content: space-between;

            .atribute {
                color: $lighttheme;
                font-weight: bolder;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .arrow-up {
                margin-top: 20px;
            }

            .arrow-down {
                margin-top: 20px;
            }
        }
    }
}


//switch
$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 3em;
$height: $width/2;

.toggle {

    .toggle-control {
        transition: $transition;
        width: $width;
        height: $height;
        display: block;
        border: 2px solid $lighttheme;
        border-radius: $height;
        background-color: rgba(black, .06);
        position: relative;

        &:after {
            transition: $transition;
            content: "";
            width: $width/2;
            height: $height;
            display: block;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 1px 2px rgba(black, .4), 0 3px 2px rgba(black, .4);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    input {
        display: none;

        &:checked+.toggle-control {
            border-color: $darktheme;
            background-color: $darktheme;

            &:after {
                left: $width/2;
            }
        }
    }

    .toggle_input {}

}

@media only screen and (min-width: 768px) {
    body {
        width: 1440px;
        margin: auto;
    }

    .nav {
        display: flex;
        justify-content: space-between;

        .header {
            border: none;
        }

        .switch {
            .switch-button {
                margin-left: 15px;
                margin-top: -3px;
            }
        }
    }


    .card-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;

        .facebook {
            width: 300px;
        }

        .twitter {
            width: 300px;
        }

        .instagram {
            width: 300px;
        }

        .youtube {
            width: 300px;
        }
    }

    .card-bottom {
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


            .card {
                width: 300px;
            }
        }
    }


}