* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: #fff;
  width: 375px;
}

h2 {
  padding-bottom: 5px;
}

h4 {
  color: #aeb3cb;
}

.username {
  margin-left: 5px;
  color: #aeb3cb;
  font-weight: bold;
}

.number {
  font-size: 3rem;
  font-weight: bold;
}

.follow {
  color: #aeb3cb;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.arrow-up {
  color: #1db489;
  font-weight: bolder;
}

.arrow-down {
  color: #dc414c;
  font-weight: bolder;
}

.container {
  margin: auto;
  padding-top: 20px;
  width: 90%;
}

.nav .header {
  border-bottom: 1px solid #aeb3cb;
  padding-bottom: 20px;
}

.nav .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.card-top .facebook {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #1488ee;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .facebook .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .facebook .mid {
  margin-top: 40px;
}

.card-top .facebook .bottom {
  margin: 40px 0;
}

.card-top .twitter {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #2caeff;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .twitter .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .twitter .mid {
  margin-top: 40px;
}

.card-top .twitter .bottom {
  margin: 40px 0;
}

.card-top .instagram {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #fdc468;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .instagram .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .instagram .mid {
  margin-top: 40px;
}

.card-top .instagram .bottom {
  margin: 40px 0;
}

.card-top .youtube {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #c4032a;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .youtube .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .youtube .mid {
  margin-top: 40px;
}

.card-top .youtube .bottom {
  margin: 40px 0;
}

.card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-bottom .title {
  margin-top: 30px;
  color: #aeb3cb;
}

.card-bottom .card {
  background-color: rgba(128, 128, 128, 0.1);
  margin: 30px 0;
  padding: 20px;
  border-radius: 5px;
}

.card-bottom .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-bottom .card .top .atribute {
  color: #aeb3cb;
  font-weight: bolder;
}

.card-bottom .card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.card-bottom .card .bottom .arrow-up {
  margin-top: 20px;
}

.card-bottom .card .bottom .arrow-down {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */