.container {
  background-color: #fff;
}

[data-theme="dark"] {
  background-color: #1e202a;
}

[data-theme="dark"] body {
  background-color: #1e202a;
  color: #fff;
}

[data-theme="dark"] .container {
  background-color: #1e202a;
}

[data-theme="dark"] .card-top .facebook {
  background-color: #292c3f;
}

[data-theme="dark"] .card-top .facebook:hover {
  background-color: #34374e;
}

[data-theme="dark"] .card-top .instagram {
  background-color: #292c3f;
}

[data-theme="dark"] .card-top .instagram:hover {
  background-color: #34374e;
}

[data-theme="dark"] .card-top .twitter {
  background-color: #292c3f;
}

[data-theme="dark"] .card-top .twitter:hover {
  background-color: #34374e;
}

[data-theme="dark"] .card-top .youtube {
  background-color: #292c3f;
}

[data-theme="dark"] .card-top .youtube:hover {
  background-color: #34374e;
}

[data-theme="dark"] .card-bottom .card {
  background-color: #292c3f;
}

[data-theme="dark"] .card-bottom .card:hover {
  background-color: #34374e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: auto;
  background-color: #fff;
  width: 375px;
}

h2 {
  padding-bottom: 5px;
}

h4 {
  color: #a3a8c0;
}

.username {
  margin-left: 5px;
  color: #a3a8c0;
  font-weight: bold;
}

.number {
  font-size: 3rem;
  font-weight: bold;
}

.follow {
  color: #a3a8c0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.arrow-up {
  color: #1db489;
  font-weight: bolder;
}

.arrow-down {
  color: #dc414c;
  font-weight: bolder;
}

.container {
  margin: auto;
  padding-top: 20px;
  width: 90%;
}

.nav .header {
  border-bottom: 1px solid #a3a8c0;
  padding-bottom: 20px;
}

.nav .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.card-top .facebook {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #1488ee;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .facebook .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .facebook .mid {
  margin-top: 40px;
}

.card-top .facebook .bottom {
  margin: 40px 0;
}

.card-top .facebook:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(105, 105, 105, 0.178);
}

.card-top .twitter {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #2caeff;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .twitter .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .twitter .mid {
  margin-top: 40px;
}

.card-top .twitter .bottom {
  margin: 40px 0;
}

.card-top .twitter:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(105, 105, 105, 0.178);
}

.card-top .instagram {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #fdc468;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .instagram .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .instagram .mid {
  margin-top: 40px;
}

.card-top .instagram .bottom {
  margin: 40px 0;
}

.card-top .instagram:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(105, 105, 105, 0.178);
}

.card-top .youtube {
  background-color: rgba(128, 128, 128, 0.1);
  border-top: 5px solid #c4032a;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
}

.card-top .youtube .top {
  margin-top: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.card-top .youtube .mid {
  margin-top: 40px;
}

.card-top .youtube .bottom {
  margin: 40px 0;
}

.card-top .youtube:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(105, 105, 105, 0.178);
}

.title {
  margin-top: 30px;
  color: #a3a8c0;
}

.card-bottom {
  /*     display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.card-bottom .card {
  background-color: rgba(128, 128, 128, 0.1);
  margin: 30px 0;
  padding: 20px;
  border-radius: 5px;
}

.card-bottom .card:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(105, 105, 105, 0.178);
}

.card-bottom .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-bottom .card .top .atribute {
  color: #a3a8c0;
  font-weight: bolder;
}

.card-bottom .card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.card-bottom .card .bottom .arrow-up {
  margin-top: 20px;
}

.card-bottom .card .bottom .arrow-down {
  margin-top: 20px;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  body {
    width: 1440px;
    margin: auto;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .header {
    border: none;
  }
  .nav .switch .switch-button {
    margin-left: 15px;
    margin-top: -3px;
  }
  .card-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .card-top .facebook {
    width: 300px;
  }
  .card-top .twitter {
    width: 300px;
  }
  .card-top .instagram {
    width: 300px;
  }
  .card-top .youtube {
    width: 300px;
  }
  .card-bottom .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-bottom .cards .card {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */