// mobile 375px, desktop 1440px
$limegreen: #1db489;
$BrightRed: #dc414c;
$Facebook: #1488ee;
$Twitter: #2caeff;
$Instagram: #fdc468;
$YouTube: #c4032a;
//dark
$darktheme: #3eda82;
$darkbgc:#292c3f;
$dark: #1e202a;
$dhover: #34374e;
//light
$lighttheme: #a3a8c0;
$lhover: rgba(105, 105, 105, 0.178);

.container {
    background-color: #fff;
}

[data-theme="dark"] {
    background-color: $dark;

    body {
        background-color: $dark;
        color: #fff;
    }

    .container {
        background-color: $dark;
    }

    .card-top {
        .facebook {
            background-color: $darkbgc;

            &:hover {
                background-color: $dhover;
            }
        }

        .instagram {
            background-color: $darkbgc;

            &:hover {
                background-color: $dhover;
            }
        }

        .twitter {
            background-color: $darkbgc;

            &:hover {
                background-color: $dhover;
            }
        }

        .youtube {
            background-color: $darkbgc;

            &:hover {
                background-color: $dhover;
            }
        }
    }

    .card-bottom {
        .card {
            background-color: $darkbgc;

            &:hover {
                background-color: $dhover;
            }
        }
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    margin: auto;
    background-color: #fff;
    width: 375px;
}

h2 {
    padding-bottom: 5px;
}

h4 {
    color: $lighttheme;
}

.username {
    margin-left: 5px;
    color: $lighttheme;
    font-weight: bold;
}

.number {
    font-size: 3rem;
    font-weight: bold;
}

.follow {
    color: $lighttheme;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.arrow-up {
    color: $limegreen;
    font-weight: bolder;
}

.arrow-down {
    color: $BrightRed;
    font-weight: bolder;
}

.container {
    margin: auto;
    padding-top: 20px;
    width: 90%;
}

.nav {
    .header {
        border-bottom: 1px solid $lighttheme;
        padding-bottom: 20px;
    }

    .switch {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
}

.card-top {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .facebook {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $Facebook;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }

        &:hover {
            transition: 1s;
            background-color: $lhover;
        }
    }

    .twitter {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $Twitter;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }

        &:hover {
            transition: 1s;
            background-color: $lhover;
        }
    }

    .instagram {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $Instagram;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }

        &:hover {
            transition: 1s;
            background-color: $lhover;
        }
    }

    .youtube {
        background-color: rgba(128, 128, 128, 0.1);
        border-top: 5px solid $YouTube;
        border-radius: 10px 10px 0 0;
        margin-top: 50px;

        .top {
            margin-top: 40px;
            display: inline-flex;
        }

        .mid {
            margin-top: 40px;
        }

        .bottom {
            margin: 40px 0;
        }

        &:hover {
            transition: 1s;
            background-color: $lhover;
        }
    }
}

.title {
    margin-top: 30px;
    color: $lighttheme;
}

.card-bottom {
    /*     display: flex;
    flex-direction: column;
    justify-content: space-around; */

    .card {
        background-color: rgba(128, 128, 128, 0.1);
        margin: 30px 0;
        padding: 20px;
        border-radius: 5px;

        &:hover {
            transition: 1s;
            background-color: $lhover;
        }

        .top {
            display: flex;
            justify-content: space-between;

            .atribute {
                color: $lighttheme;
                font-weight: bolder;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .arrow-up {
                margin-top: 20px;
            }

            .arrow-down {
                margin-top: 20px;
            }
        }
    }
}


/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;

    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media only screen and (min-width: 768px) {
    body {
        width: 1440px;
        margin: auto;
    }

    .nav {
        display: flex;
        justify-content: space-between;

        .header {
            border: none;
        }

        .switch {
            .switch-button {
                margin-left: 15px;
                margin-top: -3px;
            }
        }
    }


    .card-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;

        .facebook {
            width: 300px;
        }

        .twitter {
            width: 300px;
        }

        .instagram {
            width: 300px;
        }

        .youtube {
            width: 300px;
        }
    }

    .card-bottom {
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


            .card {
                width: 300px;
            }
        }
    }


}